<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<style>
		*{font-size:40px;}
		#nav{background-color:black;}
		#nav a{color:white; padding:30px; text-decoration:none;}
		.btn{background-color:black; color:white; width:175; text-align:center; border-radius: 30px;}
		.btn:focus{background-color:white; color:black;}
		.btn:hover{cursor:hand;}
	</style>
</head>
<body>
<center>
	<div id="nav">
		{% if user.is_authenticated %}
			<a href="{% url 'home' %}">Home</a>
			<a href="{% url 'create' %}">Create</a>
			<a href="{% url 'view' %}">View</a>
			<a href="{% url 'feedback' %}">Feedback</a>
			<a href="{% url 'ulogout' %}">Logout</a>
		{% else %}
			<a href="{% url 'home' %}">Login</a>
			<a href="{% url 'usignup' %}">Signup</a>
			<a href="{% url 'uforgotpass' %}">Forgot Password</a>
		{% endif %}
	</div>
	{% block content %}{% endblock %}
</center>
</body>
</html>
			

		